extends layout

block content
    .container
        section.row
            .avaliacao
                h1 Pronto
                p Gostariamos de agradecer pela avaliação.
                p Futuramente haverá novas avaliações e ficaremos gratos se avaliasse novamente.
                p Obrigado!